@model ProjetoLanches.TagHelpers.EmailTagHelpers

<div class="container">
    <img src="~/images//faleconosco1.jpg" alt="Fale Conosco" />
    <div class="jumbotron">
        <h3>Queremos sua opinião</h3>
        <p>Se tive alguma sugestão fale conosco</p>
        <p>
            <span>
                <img src="~/images/Envelope-icon24.png" />
            </span>
            <h5>
                <email endereco="trunfo4608@gmail.com" conteudo="Enviar Email"></email>
            </h5>
            <br />
            <span>
                <img src="~/images//phone-app-icon.png" />
            </span>
            <h5>(21)98335-7659</h5>
            <br />
            <span>
                <img src="~/images/Home-iconred.png" />
            </span>
            <h5>Rua Maciel Monteiro - 21921-550 - Rio de Janeiro.</h5>
        </p>
    </div>

</div>