@model ProjetoLanches.Models.ViewModels.LancheListViewModel

<div>
    <h3>Todos os Lanches</h3>
    <h4>Data e Hora @ViewData["DataHora"]</h4>
    <h5>Total de lanches = <strong>@ViewBag.totalLanches</strong></h5>
    <hr />
</div>

<div class="container">
    <div class="row">
        @foreach (var lanche in Model.Lanches)
        {
            <partial name="_LanchesResumo" for="@lanche"></partial>
        }
    </div>
</div>